.homeContainer {
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.content {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.content h1 {
    margin-bottom: 20px;
    color: #343a40;
}

.content p {
    color: #6c757d;
}

.heroImage {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}
