body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #dc3545;
}
